<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <file>D:\Sources\logs\noticeboard\noticeboard.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>D:\Sources\logs\noticeboard\noticeboard.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <maxHistory>180</maxHistory>
    </rollingPolicy>

    <encoder>
        <charset>UTF-8</charset>
        <pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.shin.noticeboard" level="info"/>

</configuration>
